---
import GlobalLayout from "../layouts/Global_layout.astro";
import FotosProyectos from "../components/Fotos_Proyectos.astro";

/* Banner */
import bannerPic from "../assets/banner/banner_home.jpg";
import Header from "../components/Header.astro";

/* Ofertas Imgs  */
import oferta_banners_publicitarios from "../assets/ofertas/oferta_banners_publicitarios.png";
import oferta_diseno_calicatura from "../assets/ofertas/oferta_diseño_calicaturas.png";
import oferta_diseno_portada from "../assets/ofertas/oferta_diseño_portada.png";

/* Preguntas Frecuentes Imgs  */
import cuanto_tarda from "../assets/preguntas_frecuentes/cuanto_tarda.png";
import como_se_me_envia from "../assets/preguntas_frecuentes/como_se_me_envia.png";
import como_hacer from "../assets/preguntas_frecuentes/como_hacer.png";
---

<GlobalLayout>
  <Header slot="header" bannerPic={bannerPic} />

  <h2>¿Qué puedes encontrar aquí?</h2>

  <div class="ofertas">
    <div class="boxes">
      <img loading="eager" src={oferta_banners_publicitarios} alt="" />
      <a href="/contacteme">Banner Plubicitario</a>
    </div>

    <div class="boxes">
      <img loading="lazy" src={oferta_diseno_calicatura} alt="" />
      <a href="/contacteme">Portadada para tu libro</a>
    </div>

    <div class="boxes">
      <img loading="lazy" src={oferta_diseno_portada} alt="" />
      <a href="/contacteme">Ilustración o calicatura</a>
    </div>
  </div>

  <h2>¿Qué hemos hecho hasta ahora?</h2>

  <FotosProyectos cantidadAMostrar={8} />

  <a href="/proyectos" class="ver_portafolio">Ver Portafolio Completo</a>

  <h2>Preguntas Frecuentes:</h2>

  <div class="preguntas_frecuentes">
    <div class="boxes">
      <img loading="lazy" src={como_hacer} alt="" />
      <p>¿Cómo hacer un pedido?</p>
      <p>
        Vaya a la opción "Contácteme" en el menú, rellena el formulario y haz
        clic en "Enviar formulario".
      </p>
    </div>

    <div class="boxes">
      <img loading="lazy" src={cuanto_tarda} alt="" />
      <p>¿Cuánto tarda en estar listo un pedido?</p>
      <p>De 7 a 15 días dependiendo de la complejidad del mismo.</p>
    </div>

    <div class="boxes">
      <img loading="lazy" src={como_se_me_envia} alt="" />
      <p>¿Cómo se envía el pedido?</p>
      <p>Por medio del correo electrónico.</p>
    </div>
  </div>
</GlobalLayout>

<style>
  h2 {
    margin: 30px 0;
    font-size: 2rem;
    text-shadow: 0 0 20px #16d3ff;
    text-align: center;
  }
  .ofertas,
  .preguntas_frecuentes {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .ver_portafolio {
    font-size: 2rem;
    text-shadow: 0 0 20px #16d3ff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
  }
  .ver_portafolio:hover {
    box-shadow: 0 0 20px #16d3ff;
  }

  .boxes {
    margin: 0 10px;
    width: max-content;
    max-width: 40%;
    flex-grow: 1;
    height: 340px;
    display: flex;
    flex-direction: column;
  }
  .boxes > img {
    min-width: 150px;
    min-height: 150px;
    width: 70%;
    height: 70%;
    object-fit: contain;
    object-position: top;
    align-self: center;
  }
  .boxes > a {
    text-decoration: none;
    font-size: 1.7rem;
    text-align: center;
    transition: transform 0.5s;
  }
  .boxes > a:hover {
    text-shadow: 0 0 20px #16d3ff;
    transform: scale(1.05);
  }
  .boxes > p {
    font-size: 1.5rem;
    text-align: center;
  }
  .boxes > p:nth-of-type(1) {
    color: #66dddd;
    margin-bottom: 10px;
  }
  .preguntas_frecuentes > .boxes {
    height: max-content;
  }
  .preguntas_frecuentes > .boxes > img {
    width: 150px;
    height: 150px;
    min-height: 150px;
    object-fit: contain;
    object-position: center;
  }
  .preguntas_frecuentes > .boxes > p {
    color: #fff;
  }
  .preguntas_frecuentes > .boxes > p:nth-of-type(1) {
    color: #b6defd;
  }
</style>
